.sidebar{
    background-color: green;
    grid-area: sidebar;
}
.sidebar a{
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    transition: .4s;
}
.sidebar a:hover{
    color: #000000;
}
.friendsBlock{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}